<div class="jumbotron">
  <div class="container text-center">
    <div class="col-sm-7">
      <h1>Khánh Trần</h1>
      <p>"Đây là trang web mình làm dựa trên SailsJS Framework , với mục đích học tập là chính .Các bạn đang tìm hiểu về SailsJS
      nếu có thắc mắc thì có thể liên hệ để hỏi , mình sẽ giải đáp thắc mắc trong khả năng của mình" .
      </p>
    </div>

    <div class="col-sm-5 text-center">
      <img src="/images/khanh.jpg" class="img-circle img-thumbnail" alt="Khánh Trần" width="250" height="250">
    </div>


  </div>
</div>

