<div class="jumbotron">
  <div class="container text-center">
    <div class="col-sm-7">
      <h1>Gia Nghi</h1>
      <p>"Ba của con là lập trình viên"</p>
      <p>Tên đầy đủ của con là Trần Cát Gia Nghi , con sinh ngày 06/10/2015 , khi sinh con được 2,65kg và cao 48cm, con yêu Ba & Mẹ của con rất nhiều như bao em bé khác.</p>
    </div>

    <div class="col-sm-5 text-center">
      <img src="/images/gianghi.jpg" class="img-circle img-thumbnail" alt="Khánh Trần" width="250" height="250">
    </div>


  </div>
</div>

