<div class="col-md-4 col-md-offset-4 loginform whitebg">
  <form role="form" class="form-register" id="register">


    <div class="form-group">
      <label for="inputUserName" class="sr-only">Nhập User</label>
      <input type="text" name="username" id="inputUserName" class="form-control" placeholder="Nhập user" required autofocus>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="sr-only">Nhập Mật Khẩu</label>
      <input type="text" name="password" id="inputPassword" class="form-control" placeholder="Nhập mật khẩu" required>
    </div>

    <div class="form-group">
      <label for="inputName" class="sr-only">Nhập Tên</label>
      <input type="text" name="name" id="inputName" class="form-control" placeholder="Nhập tên" required autofocus>
    </div>


    <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng Ký</button>
  </form>
</div>
