<%- partial ('common/navbar.ejs') %>
<div class="jumbotron">
  <div class="container text-center">
    <div class="col-sm-7">
      <h1>Gia Nghi</h1>
      <p></p>
    </div>
  </div>
</div>

<%- partial ('common/footer.ejs') %>
